import pickle
import pandas as pd

In [44]:
from IPython.core.display import HTML
HTML("<style>.container { width:100% !important; }</style>")

import pickle
import pandas as pd
from itertools import chain

In [49]:
dfc = pickle.load( open("../../data/countries.pickle", "rb"))
dfa = pickle.load( open("../../data/attributes.pickle", "rb"))

In [50]:
dfc.head()

         name                              url
0     Algeria     /news/best-countries/algeria
1   Argentina   /news/best-countries/argentina
2   Australia   /news/best-countries/australia
3     Austria     /news/best-countries/austria
4  Azerbaijan  /news/best-countries/azerbaijan

In [71]:
dfa

,subranking,url,weight,attributes
0,Adventure,/news/best-countries/adventure-rankings,3.24,"[friendly, fun, pleasant climate, scenic, sexy]"
1,Citizenship,/news/best-countries/citizenship-rankings,16.95,"[ares about human rights, cares about the envi..."
2,Cultural Influence,/news/best-countries/influence-rankings,12.93,[ulturally significant in terms of entertainme...
3,Entrepreneurship,/news/best-countries/entrepreneurship-rankings,17.42,"[onnected to the rest of the world, educated p..."
4,Heritage,/news/best-countries/heritage-rankings,3.17,"[ulturally accessible, has a rich history, has..."
5,Open for Business,/news/best-countries/open-for-business-rankings,11.99,"[ureaucratic, cheap manufacturing costs, corru..."
6,Movers,/news/best-countries/movers-rankings,10.00,"[ifferent, distinctive, dynamic, unique]"
7,Power,/news/best-countries/power-rankings,7.42,"[leader, economically influential, politically..."
8,Quality of Life,/news/best-countries/quality-of-life-rankings,16.89,"[a good job market, affordable, economically s..."

In [26]:
pd.DataFrame(dfa['attributes'])

                                          attributes
0    [friendly, fun, pleasant climate, scenic, sexy]
1  [ares about human rights, cares about the envi...
2  [ulturally significant in terms of entertainme...
3  [onnected to the rest of the world, educated p...
4  [ulturally accessible, has a rich history, has...
5  [ureaucratic, cheap manufacturing costs, corru...
6           [ifferent, distinctive, dynamic, unique]
7  [leader, economically influential, politically...
8  [[a good job market, affordable, economically ...

In [69]:
attrs = dfa['attributes']

attrs = list(chain(*attrs))
attrs = [a.replace("ares about human rights", "cares about human rights").replace(
        "onnected", "connected").replace("ulturally", "culturally").replace(
        'ureaucratic', "bureaucratic").replace("ifferent", "different").replace(
    "leader", "a leader") for a in attrs]

In [70]:
attrs

[u'friendly',
 u'fun',
 u'pleasant climate',
 u'scenic',
 u'sexy',
 u'cares about human rights',
 u'cares about the environment',
 u'gender equality',
 u'progressive',
 u'religious freedom',
 u'respects property rights',
 u'trustworthy',
 u'well-distributed political power',
 u'culturally significant in terms of entertainment',
 u'fashionable',
 u'happy',
 u'has an influential culture',
 u'modern',
 u'prestigious',
 u'trendy',
 u'connected to the rest of the world',
 u'educated population',
 u'entrepreneurial',
 u'innovative',
 u'provides easy access to capital',
 u'skilled labor force',
 u'technological expertise',
 u'transparent business practices',
 u'well-developed infrastructure',
 u'well-developed legal framework',
 u'culturally accessible',
 u'has a rich history',
 u'has great food',
 u'many cultural attractions',
 u'bureaucratic',
 u'cheap manufacturing costs',
 u'corrupt',
 u'favorable tax environment',
 u'transparent government practices',
 u'different',
 u'distinctive',
 u'dynamic',
 u'unique',
 u'a leader',
 u'economically influential',
 u'politically influential',
 u'strong international alliances',
 u'strong military',
 'a good job market',
 'affordable',
 'economically stable',
 'family friendly',
 'income equality',
 'politically stable',
 'safe',
 'well-developed public education system',
 'well-developed public health system']

In [64]:
out = pd.DataFrame(attrs)

In [66]:
out.head()

                  0
0          friendly
1               fun
2  pleasant climate
3            scenic
4              sexy

In [67]:
out.to_csv("../../data/attributes.csv")